name: Build JAR

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Get project version
      run: echo "version=$(grep '^version' build.gradle | cut -d' ' -f3 | tr -d '\"')" >> $GITHUB_ENV
    - name: Build with Gradle
      run: ./gradlew build -x test
    - name: Publish artifact
      uses: actions/upload-artifact@v2
      with:
        name: FoliaFlow-${{ env.version }}-${{ github.sha }}
        path: build/libs/FoliaFlow-${{ env.version }}.jar
